table {
    margin: 0 auto;
}

td {
    padding-right: 40px !important;
    padding-left: 40px !important;
}

th {
    padding-right: 40px !important;
    padding-left: 40px !important;
}

.mat-paginator {
    display: flex;
    justify-content: center;
}

.mat-column-first_name {
    cursor: pointer;
}